page-vehicle-select {
  .select-header {
    padding: 8px;
    font-size: 20px;
    text-align: center;
  }

  .page-view {
    color: darkgray;
    text-align: center;
    font-size: 15px;
  }

  .selected {
    color: black
  }
}
