<ion-header>
  <ion-navbar color="primary">
    <ion-title>Trip Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div #map id="map" *ngIf="shouldShowMap"></div>
  <ion-card>
    <ion-card-content *ngIf="trip.analysis != null">
      <h2>ECO Score: <p>{{trip.analysis.ecoScore}}</p></h2>
      <h2>Average MPG: <p>{{trip.analysis.averageMpg}} mpg</p></h2>
      <h2>Idling Time: <p>{{trip.analysis.idleTimeTotal}} min. (${{trip.analysis.idleCostLost}} in fuel)</p></h2>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Graph: </ion-label>
        <ion-select [(ngModel)]="selectedPid" (ionChange)="pidChange()">
          <ion-option *ngFor="let pid of availablePids;" value="{{pid.val}}">{{pid.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h2>Distance: <p>{{trip.distance}}km</p></h2>
      <h2>Starting Location: <p>{{trip.startPos.lat}}, {{trip.startPos.lng}}</p></h2>
    </ion-card-content>
  </ion-card>
</ion-content>
