<ion-header>
  <ion-navbar color="primary">
    <ion-title>Trip</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map" *ngIf="shouldShowMap"></div>
  <button ion-button block color="danger" (click)="endTrip()">End Trip</button>
  <ion-item-group>
    <ion-item-divider color="light">General</ion-item-divider>
    <template ngFor let-item [ngForOf]="sensors">
      <ion-item *ngIf='item.category=="GENERAL"'>
        <h2>{{item.name}}</h2>
        <p>{{item.value}}</p>
      </ion-item>
    </template>
    <ion-item-divider color="light">Engine</ion-item-divider>
    <template ngFor let-item [ngForOf]="sensors">
      <ion-item *ngIf='item.category=="ENGINE"'>
        <h2>{{item.name}}</h2>
        <p>{{item.value}}</p>
      </ion-item>
    </template>
  </ion-item-group>
</ion-content>
