<ion-header>
  <ion-navbar color="primary">
    <ion-title>Trips</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Trips
    </ion-list-header>

    <ion-item *ngIf="trips.length == 0">
      <h2>No trips yet</h2>
    </ion-item>

    <ion-item-sliding *ngFor="let trip of trips;">
      <ion-item (click)="viewTrip(trip)">
        <h2>Trip on {{trip.date}}</h2>
        <p>From {{trip.startTime}} - {{trip.endTime}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteTrip(trip)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
