<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <h2>Vehicle</h2>
      <p>{{vehicle.name}}</p>
      <div *ngIf="vehicle.epaInfo.primaryFuel != null">
        <div *ngIf="vehicle.epaInfo.primaryFuel != null">
          <p><b>Primary Fuel:</b> {{vehicle.epaInfo.primaryFuel.name}}</p>
          <p><b>MPG: </b>{{vehicle.epaInfo.primaryFuel.cityMpg}}/{{vehicle.epaInfo.primaryFuel.highwayMpg}}mpg</p>
        </div>
        <div *ngIf="vehicle.epaInfo.secondaryFuel != null">
          <p><b>Secondary Fuel:</b> {{vehicle.epaInfo.secondaryFuel.name}}</p>
          <p><b>MPG: </b>{{vehicle.epaInfo.secondaryFuel.cityMpg}}/{{vehicle.epaInfo.secondaryFuel.highwayMpg}}mpg</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <button ion-button (click)="selectVehicle()">Select Vehicle</button>
      <button ion-button (click)="startTrip()">Start Trip</button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h2>Connection</h2>
      <p>{{device.name}}</p>
      <p>{{device.id}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
