<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon color="white" name="menu"></ion-icon>
    </button>
    <ion-title>Leaderboard</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exitLeaderboard()">
        <ion-icon color="white" name="exit"></ion-icon>
      </button>
      <button ion-button icon-only (click)="uploadData()">
        <ion-icon color="white" name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      {{credentials.boardId}}
    </ion-list-header>
    <ion-item *ngFor="let result of results;">
      <ion-note item-left>
        <b>#</b>
      </ion-note>
      <ion-note item-right>
      ECO Score
      </ion-note>
    </ion-item>
    <ion-item *ngFor="let result of results;">
      <ion-note item-left>
        <b>{{result.place}}</b>
      </ion-note>
      {{result.name}}
      <ion-note item-right>
      {{result.avgEcoScore}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
